---
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";
import { hobbies } from "@/config/about.ts";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
---

<MainLayout title="About" description="Lorem ipsum dolor sit amet">
  <section class="space-y-5">
    <section
      class="relative container max-w-screen-md mb-28 mt-16 sm:mt-20 lg:mt-28"
    >
      <div class="flex h-full flex-col justify-between">
        <div class="grid gap-8 sm:grid-cols-2">
          <div>
            <h1 class="text-4xl font-heading text-foreground">ATL5D</h1>
            <p class="text-base text-muted-foreground mt-0.5">
              Atlanta Social-Fi Blockchain Marketing Creator Economy
            </p>
          </div>
          <div>
            <p class="mb-12 text-base text-muted-foreground">
              вңЁ Tap into the new рҹ…°пёҸTL PPV live reality TV Network subscribers own as D-commerce called Arvrtise ATL5D.
              <br />
             рҹ“ң LUV NFT is powered by an рҹ…°пёҸTL-based blockchain nonprofit, BLK LUV [ORG], which coined the term D-commerce after tokenizing the first real estate property as an NFT in 2021. This means that if you purchase the NFT as D-commerce, you own the $33M piece of land.
             <br />
             рҹ“ҳ Selling D-commerce provides you with more free time in life because a D-commerce product works for you via a smart contract, allowing sellers to earn royalties on all secondary sales. Alternatively, you can stake your D-commerce and earn more APY than your bank.
             <br />
             рҹ…°пёҸTLanta has been the вқӨпёҸвҖҚрҹ”Ҙ mecca for the entertainment culture for the last decade, but the problem is the city wasnвҖҷt benefiting from everyone stealing the culture with no credit to the original source creators.
             рҹӘ© The рҹ…°пёҸTLanta nightlife changed the world, from slang and music to a tribe-like culture and making it rain, so we tokenized that vibe on blockchain to create a twin of the classic рҹ…°пёҸTL we all вқӨпёҸ called рҹ…°пёҸrvrtise рҹ…°пёҸTL5пёҸвғЈD. It was created by a local Atlanta native, Hassan Terry, known in blockchain as The Wizard of Hahz, and his wife, Dr. Candy, via their blockchain nonprofit BLK LUV [ORG]. Hahz & Candy met in the club, and the twin flame couple has been happily married since.
             <br />
             рҹ§ҷрҹҸҪ The Wizard of Hahz pioneered tokenizing RWA assets as NFTs and рҹҺ¬ CapCut-like рҹ…°пёҸTL nightlife video promos (Video + HipHop + 1 Minute recaps) on social media. He was the first photographer in the city to film celebs TMZ-style, pulling up to Club Miami рҹ…°пёҸTL night club VIP sections before Atlanta knew who 2 Chainz was (рҹ…°пёҸTL Era reference of time).
             <br />
             рҹ‘ҒпёҸ ATLnightрҹ”ҙ 1-of-1 original рҹ“ёрҹҺҘ content inspired Q to create Worldstar and millions of monthly blog website visitors in (2007-2015) to want to move to рҹ…°пёҸTL or repost Atlanta content. The Wizard of Hahz sold one рҹ“ё to TMZ of Fabulous making it rain in Magic City for $20K because he knew the worth of his original content when other local celebrity photographers sold the rights to their рҹ“ё рҹҺҘ masters.
             <br />
             рҹҺ¬ After selling the ATLnightрҹ”ҙ domain and ads for six figures, The Wizard of Hahz kept the rights to his original content, which includes 33K+ рҹ“ёрҹҺҘ of everyone who performed, visited, or turned up in an рҹ…°пёҸTL club during the [2007-2015] era. Look for your ATLnightрҹ”ҙ to redeem one рҹ“ё as a digital asset you can sell as D-commerce or pass down to your kids as a digital asset.
             <br />
             рҹҚ‘ Atlanta has new memecoin money called Booty $ATL aka $ATL BрҹҚ‘рҹҚ‘ty money on Base blockchain (Explorer) that used as the official ATL5D currency that acts as a like button for everyone who creates a post with their Coinbase Wallet account number as a signature to receive tips. 
             <br />
             рҹ”Ң $ATL BрҹҚ‘рҹҚ‘ty money is launching at the floor rate of 0.000000001 to ensure ATLienaires become the new Millionaires. The assignment is simple:
             <br />
             1пёҸвғЈ HODL the BрҹҚ‘рҹҚ‘ty 
             <br />
             2пёҸвғЈ Circulate $ATL BрҹҚ‘рҹҚ‘ty money around the city for services and products
             <br />
             3пёҸвғЈ If you see content that you like in the ATL5D or someoneвҖҷs vibe in the ATLverse metaverse make it rain on em with $ATL BрҹҚ‘рҹҚ‘ty money
             <br />
             4пёҸвғЈ Win new $ATL BрҹҚ‘рҹҚ‘ty daily by completing tribe called quests and by winning challenges
             <br />
             ## в–¶пёҸ SUBSCRIBE
             <br />
             рҹ…°пёҸTL5D Discord has a free section of channels we refer to as the club parking lot and paid PPV tiers called Club 112, Midtown, and the Gold Room.
             <br />
             рҹӣЈпёҸ Club 112 [рҹ“ә subscribers] - Unlock a certain number of channels to see the Reel Atlanta.
             <br />
             рҹ“Ҳ Arvrtise рҹ…°пёҸTL5D is tokenizing:
             <br />
             рҹӣЈпёҸ Midtown [рҹ“ә subscribers] - Set up shop Atlantic Station style with a branded Discord and ATLverse shop. рҹӣЈпёҸ Gold Room [рҹ“ә subscribers] - Are AtlantaвҖҷs elite with a branded Discord, ATLverse, and Voice shop.
             <br />
             How ATL5D works for everyone:
             <br />
             Buy D-commerce for the рҹ”Ң Shawty Lo that can be securely flipped on blockchain to create a blockchain side hustle that generates generational wealth for sellers.
             <br />
             1пёҸвғЈ Subscribe. 
             2пёҸвғЈ Claim your ATLnightрҹ”ҙ рҹ“ёрҹҺҘ in a PPV channel or tokenize your services or products. 
             3пёҸвғЈ Invest in yourself by buying your рҹ“ёрҹҺҘ as D-commerce to set the initial value рҹ”„ then pass it down to your children as a digital asset or flip it as D-commerce and earn a lifetime of royalties from secondary sales.
             4пёҸвғЈ Win 
              <br />
              What's up with you?
            </p>
            <div class="flex items-center gap-3">
              <Button className="rounded-xl">
                <Icon name="lucide:mail" class="mr-2 size-4" />
                <a href="mailto:info@arvrtise.com">1 of 1 marketing campaign</a>
              </Button>

              <Button variant="outline" className="rounded-xl">
                <Icon name="lucide:briefcase" class="mr-2.5 size-4" />
                <a href="https://discord.gg/QQeFcekQyx" target="_blank">DM @HAHZNFT</a>
              </Button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div
      class="relative z-10 flex flex-col justify-center overflow-hidden lg:overflow-visible pb-16"
    >
      <div
        class="mx-auto flex w-max -translate-x-[15%] justify-center lg:w-full lg:translate-x-0"
      >
        <div
          class="relative z-10 mx-auto max-w-4xl px-4 md:max-w-6xl md:px-12 lg:max-w-5xl lg:px-6 xl:max-w-[80rem] xl:px-6 2xl:px-0"
        >
          <div class="grid grid-cols-4 items-center gap-4 md:gap-6">
            {/* First Column */}
            <div class="space-y-4 md:space-y-6">
              <Image
                class="h-full w-auto object-cover overflow-hidden rounded-xl"
                src={hobbies[0].image}
                alt={hobbies[0].alt}
                width={800}
                height={1226}
                loading="eager"
              />
              <div class="h-52 overflow-hidden rounded-xl">
                <Image
                  class="w-full h-full object-cover"
                  src={hobbies[1].image}
                  alt={hobbies[1].alt}
                  width={800}
                  height={1334}
                />
              </div>
            </div>

            {/* Second Column */}
            <div class="space-y-4 md:space-y-6">
              <div class="h-48 overflow-hidden rounded-xl">
                <Image
                  class="w-full h-full object-cover"
                  src={hobbies[2].image}
                  alt={hobbies[2].alt}
                  width={800}
                  height={983}
                  loading="eager"
                />
              </div>
              <Image
                class="rounded-xl"
                src={hobbies[3].image}
                alt={hobbies[3].alt}
                width={800}
                height={1108}
                loading="eager"
              />
              <div class="relative h-48 overflow-hidden rounded-xl">
                <Image
                  class="w-full h-full object-cover"
                  src={hobbies[4].image}
                  alt={hobbies[4].alt}
                  width={1260}
                  height={750}
                />
              </div>
            </div>

            {/* Third Column */}
            <div class="space-y-4 md:space-y-6">
              <div class="h-56 overflow-hidden rounded-xl">
                <Image
                  class="w-full h-full object-cover"
                  src={hobbies[5].image}
                  alt={hobbies[5].alt}
                  width={800}
                  height={1334}
                  loading="eager"
                />
              </div>
              <div class="h-80 w-full overflow-hidden rounded-xl xl:h-[28rem]">
                <Image
                  class="w-full h-full object-cover"
                  src={hobbies[6].image}
                  alt={hobbies[6].alt}
                  width={801}
                  height={2477}
                />
              </div>
            </div>

            {/* Fourth Column */}
            <div class="space-y-4 md:space-y-6">
              <div class="overflow-hidden rounded-xl bg-white">
                <Image
                  src={hobbies[7].image}
                  alt={hobbies[7].alt}
                  width={800}
                  height={900}
                  loading="eager"
                />
              </div>
              <div class="overflow-hidden rounded-xl bg-white">
                <Image
                  src={hobbies[8].image}
                  alt={hobbies[8].alt}
                  width={800}
                  height={900}
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
