---
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";
import { hobbies } from "@/config/about.ts";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
---

<MainLayout title="About" description="Atlanta Social-Fi Blockchain Marketing Creator Economy">
  <section class="space-y-5">
    <section
      class="relative container max-w-screen-md mb-28 mt-16 sm:mt-20 lg:mt-28"
    >
      <div class="flex h-full flex-col justify-between">
        <div class="grid gap-8 sm:grid-cols-2">
          <div>
            <h1 class="text-4xl font-heading text-foreground">ATL5D</h1>
            <p class="text-base text-muted-foreground mt-0.5">
              Atlanta Social-Fi Blockchain Marketing Creator Economy
            </p>
          </div>
          <div>
            <p class="mb-12 text-base text-muted-foreground">
              ✨ Tap into the new 🅰️TL PPV live reality TV Network subscribers own as D-commerce called Arvrtise ATL5D.
              <br />
              <br />
              📜 LUV NFT is powered by an 🅰️TL-based blockchain nonprofit, BLK LUV [ORG], which coined the term D-commerce after tokenizing the first real estate property as an NFT in 2021. This means that if you purchase the NFT as D-commerce, you own the $33M piece of land.
              <br />
              <br />
              📘 Selling D-commerce provides you with more free time in life because a D-commerce product works for you via a smart contract, allowing sellers to earn royalties on all secondary sales. Alternatively, you can stake your D-commerce and earn more APY than your bank.
              <br />
              <br />
              🅰️TLanta has been the ❤️‍🔥 mecca for the entertainment culture for the last decade, but the problem is the city wasn’t benefiting from everyone stealing the culture with no credit to the original source creators.
              <br />
              <br />
              🪩 The 🅰️TLanta nightlife changed the world, from slang and music to a tribe-like culture and making it rain, so we tokenized that vibe on blockchain to create a twin of the classic 🅰️TL we all ❤️ called 🅰️rvrtise 🅰️TL5️⃣D. It was created by a local Atlanta native, Hassan Terry, known in blockchain as The Wizard of Hahz, and his wife, Dr. Candy, via their blockchain nonprofit BLK LUV [ORG]. Hahz & Candy met in the club, and the twin flame couple has been happily married since.
              <br />
              <br />
              🧙🏽 The Wizard of Hahz pioneered tokenizing RWA assets as NFTs and 🎬 CapCut-like 🅰️TL nightlife video promos (Video + HipHop + 1 Minute recaps) on social media. He was the first photographer in the city to film celebs TMZ-style, pulling up to Club Miami 🅰️TL night club VIP sections before Atlanta knew who 2 Chainz was (🅰️TL Era reference of time).
              <br />
              <br />
              👁️ ATLnight🔴 1-of-1 original 📸🎥 content inspired Q to create Worldstar and millions of monthly blog website visitors in (2007-2015) to want to move to 🅰️TL or repost Atlanta content. The Wizard of Hahz sold one 📸 to TMZ of Fabulous making it rain in Magic City for $20K because he knew the worth of his original content when other local celebrity photographers sold the rights to their 📸 🎥 masters.
              <br />
              <br />
              🎬 After selling the ATLnight🔴 domain and ads for six figures, The Wizard of Hahz kept the rights to his original content, which includes 33K+ 📸🎥 of everyone who performed, visited, or turned up in an 🅰️TL club during the [2007-2015] era. Look for your ATLnight🔴 to redeem one 📸 as a digital asset you can sell as D-commerce or pass down to your kids as a digital asset.
              <br />
              <br />
              🍑 Atlanta has new memecoin money called Booty $ATL aka $ATL B🍑🍑ty money on Base blockchain (Explorer) that used as the official ATL5D currency that acts as a like button for everyone who creates a post with their Coinbase Wallet account number as a signature to receive tips.
              <br />
              <br />
              🔌 $ATL B🍑🍑ty money is launching at the floor rate of 0.000000001 to ensure ATLienaires become the new Millionaires. The assignment is simple:
              <br />
              <br />
              1️⃣ HODL the B🍑🍑ty 
              <br />
              <br />
              2️⃣ Circulate $ATL B🍑🍑ty money around the city for services and products
              <br />
              <br />
              3️⃣ If you see content that you like in the ATL5D or someone’s vibe in the ATLverse metaverse make it rain on em with $ATL B🍑🍑ty money
              <br />
              <br />
              4️⃣ Win new $ATL B🍑🍑ty daily by completing tribe called quests and by winning challenges
              <br />
              <br />
              📶 ATL5D LEADERBOARD
              <br />
              <br />
              Every ATL5D Discord post and audio is +1 XP point on the Leaderboard and every quest or challenge equals more points on the board to display the city leaders that level up to ATL5D Mayor status.
              <br />
              <br />
              ▶️ SUBSCRIBE
              <br />
              <br />
              🅰️TL5D Discord has a free section of channels we refer to as the club parking lot and paid PPV tiers called Club 112, Midtown, and the Gold Room.
              <br />
              <br />
              🛣️ Club 112 [📺 subscribers] - Unlock a certain number of channels to see the Reel Atlanta.
              <br />
              <br />
              📈 Arvrtise 🅰️TL5D is tokenizing:
              <br />
              <br />
              🛣️ Midtown [📺 subscribers] - Set up shop Atlantic Station style with a branded Discord and ATLverse shop.
              <br />
              🛣️ Gold Room [📺 subscribers] - Are Atlanta’s elite with a branded Discord, ATLverse, and Voice shop.
              <br />
              <br />
              How ATL5D works for everyone:
              <br />
              <br />
              Buy D-commerce for the 🔌 Shawty Lo that can be securely flipped on blockchain to create a blockchain side hustle that generates generational wealth for sellers.
              <br />
              <br />
              1️⃣ Subscribe to <a href="https://calendly.com/arvrtise">ATL5D</a> Discord.
              <br />
              2️⃣ Claim your ATLnight🔴 📸 🎥 in the appropriate PPV channel or tokenize your content. 
              <br />
              3️⃣ Invest in yourself by buying your 📸🎥 as D-commerce to set the initial value 🔄 then pass it down to your children as a digital asset or flip it as D-commerce and earn a lifetime of royalties from secondary sales.
              <br />
              4️⃣ Unlock PPV channels by holding the creators D-commerce in your wallet.
              <br />
              <br />
              We can solve anything as a united Atlanta.
            </p>
            <div class="flex items-center gap-3">
              <Button className="rounded-xl">
                <Icon name="lucide:mail" class="mr-2 size-4" />
                <a href="https://calendly.com/arvrtise">Book 🅰️ 🅰️rvrtise Call</a>
              </Button>

              <Button variant="outline" className="rounded-xl">
                <Icon name="lucide:briefcase" class="mr-2.5 size-4" />
                <a href="https://discord.gg/QQeFcekQyx" target="_blank">DM @HAHZNFT</a>
              </Button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="relative container max-w-screen-md mb-28 mt-16 sm:mt-20 lg:mt-28">
      <div class="relative z-10 flex flex-col justify-center overflow-y-scroll lg:overflow-visible pb-16">
        <div class="mx-auto flex flex-col justify-center lg:w-full">
          <div class="relative z-10 mx-auto max-w-4xl px-4 md:max-w-6xl md:px-12 lg:max-w-5xl lg:px-6 xl:max-w-[80rem] xl:px-6 2xl:px-0">
            <div class="grid grid-cols-1 items-center gap-4 md:gap-6">
            {/* First Column */}
            <div class="space-y-4 md:space-y-6">
              <a href="LINK_URL_1">
                <Image
                  class="h-full w-auto object-cover overflow-hidden rounded-xl"
                  src={hobbies[0].image}
                  alt={hobbies[0].alt}
                  width={500}
                  height={750}
                  loading="eager"
                />
              </a>
              <a href="LINK_URL_2">
                <div class="h-52 overflow-hidden rounded-xl">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[1].image}
                    alt={hobbies[1].alt}
                    width={500}
                    height={750}
                  />
                </div>
              </a>
            </div>

            {/* Second Column */}
            <div class="space-y-4 md:space-y-6">
              <a href="LINK_URL_3">
                <div class="h-48 overflow-hidden rounded-xl">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[2].image}
                    alt={hobbies[2].alt}
                    width={500}
                    height={750}
                    loading="eager"
                  />
                </div>
              </a>
              <a href="LINK_URL_4">
                <Image
                  class="rounded-xl"
                  src={hobbies[3].image}
                  alt={hobbies[3].alt}
                  width={500}
                  height={750}
                  loading="eager"
                />
              </a>
              <a href="LINK_URL_5">
                <div class="relative h-48 overflow-hidden rounded-xl">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[4].image}
                    alt={hobbies[4].alt}
                    width={500}
                    height={750}
                  />
                </div>
              </a>
            </div>

            {/* Third Column */}
            <div class="space-y-4 md:space-y-6">
              <a href="LINK_URL_6">
                <div class="h-56 overflow-hidden rounded-xl">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[5].image}
                    alt={hobbies[5].alt}
                    width={500}
                    height={750}
                    loading="eager"
                  />
                </div>
              </a>
              <a href="LINK_URL_7">
                <div class="h-80 w-full overflow-hidden rounded-xl xl:h-[28rem]">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[6].image}
                    alt={hobbies[6].alt}
                    width={500}
                    height={750}
                  />
                </div>
              </a>
            </div>

            {/* Fourth Column */}
            <div class="space-y-4 md:space-y-6">
              <a href="LINK_URL_8">
                <div class="overflow-hidden rounded-xl bg-white">
                  <Image
                    src={hobbies[7].image}
                    alt={hobbies[7].alt}
                    width={500}
                    height={750}
                    loading="eager"
                  />
                </div>
              </a>
              <a href="LINK_URL_9">
                <div class="overflow-hidden rounded-xl bg-white">
                  <Image
                    src={hobbies[8].image}
                    alt={hobbies[8].alt}
                    width={500}
                    height={750}
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

