---
import MainLayout from "@/layouts/main-layout.astro";
import { Image } from "astro:assets";
import { hobbies } from "@/config/about.ts";
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
---

<MainLayout title="About" description="Atlanta Social-Fi Blockchain Marketing Creator Economy">
  <section class="space-y-5">
    <section
      class="relative container max-w-screen-md mb-28 mt-16 sm:mt-20 lg:mt-28"
    >
      <div class="flex h-full flex-col justify-between">
        <div class="grid gap-8 sm:grid-cols-2">
          <div>
            <h1 class="text-4xl font-heading text-foreground">ATL5D</h1>
            <p class="text-base text-muted-foreground mt-0.5">
              Atlanta's 🅰️commerce digital twin plug
            </p>
          </div>
          <div>
            <p class="mb-12 text-base text-muted-foreground">
              ✨ Tap into the new digital 🅰️TL experience with ATL5D merch, the future of 🅰️-commerce.

📜 BLK LUV [ORG] blockchain thought leader, Hahz Terry, has tokenized over $400M in digital assets since 2021, working with brands like the World Series of Poker, UMG, HULU, and his own blockchain nonprofit. As a scalable way to educate the masses and unite the country, he gamified the concept of unity with memecoins and digital assets, making learning about the digital economy fun and accessible.

🅰️TLanta has long been the ❤️‍🔥 mecca of entertainment culture, shaping global trends in music, slang, and nightlife. Yet, the city has often been left behind as others capitalize on its culture without giving credit to the original creators. ATL5D aims to change that. By tokenizing ATL5D merch, we ensure it can’t be cloned, stolen, or destroyed—preserving and protecting Atlanta’s cultural legacy.

🪩 The iconic Atlanta nightlife has transformed the world, influencing everything from music to tribal-like culture and even the art of “making it rain.” We’ve captured that vibe on the blockchain to create a digital twin of classic 🅰️TL, known as ATL5️⃣D. This initiative was created by Atlanta native Hahz Terry, aka The Wizard of Hahz, and his wife, Dr. Candy, through their blockchain nonprofit, BLK LUV [ORG]. Fun fact: Hahz and Candy met in an Atlanta nightclub, and the twin flame couple has been happily married ever since.

☔ ATL5D’s Telegram blockchain memecoin 🅰️TEAM (🅰️TL) launches at just $0.00000299 per coin, giving the city an affordable fresh start to unite and collaborate. The coin encourages Atlanta’s creators to produce meme content, scale up triple-use advertising tokens, and onboard the community into the Tip-based “Rise Up” game.

▶️ Subscribe

🅰️TL5D’s Discord is the new Netflix-like platform for tokenized content creators. Through this platform, creators can sell 🅰️-commerce merch while ensuring their customers, clients, and fans see 100% of their content.

🛣️ Club 112 [📺 subscribers] - Unlock exclusive channels to access The Reel Atlanta.
🛣️ Midtown [📺 subscribers] - Establish your brand, Atlantic Station style, with a customized Discord and ATLverse shop.
🛣️ Gold Room [📺 subscribers] - Cater to Atlanta’s elite with a branded Discord, ATLverse, and Voice Shop.
              <br />
              We can solve anything as a united Atlanta.
            </p>
            <div class="flex items-center gap-3">
              <Button className="rounded-xl">
                <Icon name="lucide:mail" class="mr-2 size-4" />
                <a href="https://calendly.com/arvrtise">Book 🅰️TEAM Call</a>
              </Button>

              <Button variant="outline" className="rounded-xl">
                <Icon name="lucide:briefcase" class="mr-2.5 size-4" />
                <a href="https://discord.gg/QQeFcekQyx" target="_blank">DM @HAHZNFT In Discord</a>
              </Button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="relative container max-w-screen-md mb-28 mt-16 sm:mt-20 lg:mt-28">
      <div class="relative z-10 flex flex-col justify-center overflow-y-scroll lg:overflow-visible pb-16">
        <div class="mx-auto flex flex-col justify-center lg:w-full">
          <div class="relative z-10 mx-auto max-w-4xl px-4 md:max-w-6xl md:px-12 lg:max-w-5xl lg:px-6 xl:max-w-[80rem] xl:px-6 2xl:px-0">
            <div class="grid grid-cols-1 items-center gap-4 md:gap-6">
            {/* First Column */}
            <div class="space-y-4 md:space-y-6">
              <a href="https://buy.stripe.com/9AQcO7dOn0fa8lWbJ8">
                <Image
                  class="h-full w-auto object-cover overflow-hidden rounded-xl"
                  src={hobbies[0].image}
                  alt={hobbies[0].alt}
                  width={500}
                  height={750}
                  loading="eager"
                />
              </a>
              <a href="https://vm.tiktok.com/ZPRKXMPsd/">
                <div class="h-52 overflow-hidden rounded-xl">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[1].image}
                    alt={hobbies[1].alt}
                    width={500}
                    height={750}
                  />
                </div>
              </a>
            </div>

            {/* Second Column */}
            <div class="space-y-4 md:space-y-6">
              <a href="https://buy.stripe.com/5kA9BVcKj4vq1Xy3cF">
                <div class="h-48 overflow-hidden rounded-xl">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[2].image}
                    alt={hobbies[2].alt}
                    width={500}
                    height={750}
                    loading="eager"
                  />
                </div>
              </a>
              <a href="https://buy.stripe.com/6oEaFZdOn6Dy8lW6oS">
                <Image
                  class="rounded-xl"
                  src={hobbies[3].image}
                  alt={hobbies[3].alt}
                  width={500}
                  height={750}
                  loading="eager"
                />
              </a>
              <a href="https://buy.stripe.com/7sI8xRfWv0fagSs5kP">
                <div class="relative h-48 overflow-hidden rounded-xl">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[4].image}
                    alt={hobbies[4].alt}
                    width={500}
                    height={750}
                  />
                </div>
              </a>
            </div>

            {/* Third Column */}
            <div class="space-y-4 md:space-y-6">
              <a href="https://buy.stripe.com/4gweWfh0z2ni0Tu14A">
                <div class="h-56 overflow-hidden rounded-xl">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[5].image}
                    alt={hobbies[5].alt}
                    width={500}
                    height={750}
                    loading="eager"
                  />
                </div>
              </a>
              <a href="https://buy.stripe.com/7sI6pJ6lVaTOby86oV">
                <div class="h-80 w-full overflow-hidden rounded-xl xl:h-[28rem]">
                  <Image
                    class="w-full h-full object-cover"
                    src={hobbies[6].image}
                    alt={hobbies[6].alt}
                    width={500}
                    height={750}
                  />
                </div>
              </a>
            </div>

            {/* Fourth Column */}
            <div class="space-y-4 md:space-y-6">
              <a href="https://buy.stripe.com/cN26pJh0zbXS45G9B8">
                <div class="overflow-hidden rounded-xl bg-white">
                  <Image
                    src={hobbies[7].image}
                    alt={hobbies[7].alt}
                    width={500}
                    height={750}
                    loading="eager"
                  />
                </div>
              </a>
              <a href="https://buy.stripe.com/5kA7tN7pZ5zucCc9B9">
                <div class="overflow-hidden rounded-xl bg-white">
                  <Image
                    src={hobbies[8].image}
                    alt={hobbies[8].alt}
                    width={500}
                    height={750}
                  />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

